html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(234, 234, 234);
}

header {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    font-size: 20px;
    z-index: 9999;

}

.underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.underline:hover::after {
    width: 100%;
}

img {
    width: 60px;
    cursor: pointer;
}

.navClick {
    text-decoration: none;
    list-style-type: none;
    margin-left: 8%;
    cursor: pointer;


}

.secao1 {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.imagem {
    border: 1px solid black;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.imagem:hover {
    transform: scale(1.1);
  }

.imagemCard1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.secao2 {

    display: flex;
    flex-direction: column;
    
}

.reviewLegal {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 25px;
    width: 75%;
    margin-left: 3% ;
}

.secao2Review {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.secao3 {

    display: flex;
}

.dlc {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 25px;
    width: 75%;
    margin-left: 3% ;
    display: flex;
    flex-direction: column;
}

.secao4 {

    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

.copyright {
    display: flex;
    color: white;
    flex-direction: column;

    background-color: #282828;
    padding: 10px;

}