body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    background-color: rgb(46, 124, 39);
    align-items: center;
    color:white;

}

.navClick {
    text-decoration: none;
    list-style-type: none;
    margin-left: 8%;
    cursor: pointer;

    
}

.secao1 {
    background: red;
    height: 100vh;
}
.secao2 {
    background: rgb(115, 255, 0);
    height: 100vh;
}
.secao3 {
    background: rgb(0, 217, 255);
    height: 100vh;
}
.secao4 {
    background: rgb(0, 255, 13);
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}
.copyright{
    display: flex;
    color: white;
    flex-direction: column;
   
    background-color: #282828;
    padding: 10px ;
 
}

.MainContent{
    display: flex;
    background-color: rgb(100, 86, 54);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 200vh;
    margin: 0 auto;
}